* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: white;
  color: #202124;
}


input, textarea {
  padding: 12px;
  margin: 12px 0;
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  color: #202124;
  border: 2px solid #202124;
  border-radius: 4px;
}

input::placeholder, textarea::placeholder {
  color: #202124;
  font-weight: bold;
}

.notes-app__header {
  display: flex;
  background-color: #202124;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  border-bottom: 2px solid #202124;
}

.notes-app__header h1 {
  margin: 8px 0;
  flex: 1;
  color: white;
}

.notes-app__header input{
  background-color: white;
  border: 2px solid white;
  color: #202124;
}

.notes-app__header input::placeholder{
  color: #202124;
}

.notes-app__body {
  max-width: 1000px;
  margin: 16px auto;
  padding: 12px;
}

.notes-app__body h2 {
  font-weight: normal;
  margin: 16px 0;
  font-weight: bold;
}

.notes-input {
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 48px;
}

.notes-input input, .notes-input textarea {
  display: block;
  width: 100%;
}

.notes-input__title {
  font-weight: bold;
}

.notes-input__title__char-limit {
  font-size: 14px;
  text-align: right;
  color: #202124;
}

.notes-input__body {
  min-height: 175px;
}

.notes-input button {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  background-color: #4C9969;
  color: white;
  border: 2px solid #202124;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.notes-input button:hover{
  background-color: #56AB76;
}

.notes-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 16px;
  margin-bottom: 48px;
}

.notes-list__empty-message {
  text-align: center;
  color: #202124;
}

.notes-item {
  border: 2px solid #202124;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.notes-item__content {
  padding: 12px;
  flex: 1;
}

.notes-item__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
}

.notes-item__date {
  font-size: 12px;
  margin-bottom: 8px;
  color: #202124;
}

.notes-item__body {
  font-size: 14px;
}

.notes-item__button {
  display: flex;
}

.notes-item__delete-button,.notes-item__archive-button {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0;
  border-top: 2px solid #202124;
  padding: 8px 0;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.notes-item__delete-button {
  border-right: 2px solid #202124;
  background-color: #ff5f52;
  color: white;
}

.notes-item__archive-button {
  background-color: #5CB8E4;
  color: white;
}

.notes-item__archive-button:hover {
  background-color: #6CBFE6;
}

.notes-item__delete-button:hover {
 background-color: #FF6F63;
}

@media only screen and (min-width: 500px) {
  .notes-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .notes-search input {
    min-width: 400px;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
